@import '../../app/index.scss';

.list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: $gap_padding;

    &__item {
        padding: $box_shadow $margin;
        border-radius: $radius;
        cursor: pointer;

        &:hover {
            transition: 0.3s;
            background-color: $white_blacker;
        }
    }
}