$black: #000;
$black_light: #333;
$white: #fff;
$red: red;
$white_blacker: #eee;
$white_blacker_2: #dfdfdf;
$gray: #a3a3a3;
$gray_light: #7c7c7c;

$h1: 40px;
$h2: 24px;
$h3: 18px;
$h4: 16px;
$p: 14px;

$home: 350px;
$boards: 300px;
$eighty: 80px;
$gap_padding: 50px;
$gap_padding_low: 20px;
$margin: 10px;
$radius: 4px;
$box_shadow: 2px;
$low: 1px;


$bold: 700;
$semibold: 600;
$normal: 400;
$medium: 500;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: $normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: $medium;
  color: $black;
  text-decoration: inherit;
}

a:hover {
  color: $black_light;
}

body {
  margin: 0;
  min-width: $home;
  min-height: 100vh;
}

ul,
ol,
dl,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

input {
  outline: none;
}

button {
  font-family: inherit;
  background-color: $black;
  cursor: pointer;
}

button:hover {
  background-color: rgba($black, .8);
}