$black: #000;
$white: #fff;
$gtd_bg: #0079BF;
$pomodoro_bg: #FA593C;
$datapicker_bg: #6A28F6;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

a:hover {
  color: #333;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

ul,
ol,
dl,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

input {
  outline: none;
}

button {
  font-family: inherit;
  background-color: $black;
  cursor: pointer;
}

button:hover {
  background-color: rgba($black, .8);
}