@import '../../app/index.scss';

.gtd {
    padding-top: $gap_padding_low;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 80vh;
    padding-left: $margin;
}

.board {
    width: 100%;
    max-width: $boards;
    display: flex;
    flex-direction: column;
    gap: $margin;
}