@import '../../../app/index.scss';

.notes__element {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.notes__element__date {
    font-style: italic;
    color: $gray_light;
}

.notes__element__label {
    font-size: $h2;
    font-weight: $semibold;
    margin-bottom: 0;
}

.notes__element__time {
    color: $gray_light;
}

.icon {
    margin-top: $gap_padding_low;
    width: $h2;
    cursor: pointer;

    &:hover {
        opacity: 80%;
    }
}