.dirty {
    color: red;
    font-weight: 400;
    margin-bottom: 0;
}

.inputs {
    margin-top: 40px;
    display: flex;
    align-items: end;
    gap: 20px;
    font-weight: 700;

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__author {
        display: flex;
        flex-direction: column;
    }

    .input {
        margin-top: 10px;
        outline: none;
        padding: 5px 10px;
    }
}