.gtd {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 80vh;
}

.board {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    margin: 0;
    padding-left: 20px;
    cursor: pointer;

    &__author {
        font-size: 16px;
        font-style: italic;
        color: #a3a3a3;
    }
}

.dirty {
    color: red;
    font-weight: 400;
    margin-bottom: 0;
}

.inputs {
    margin-top: 40px;
    display: flex;
    align-items: end;
    gap: 20px;
    font-weight: 700;

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__author {
        display: flex;
        flex-direction: column;
    }

    .input {
        margin-top: 10px;
        outline: none;
        padding: 5px 10px;
    }
}