@import '../../app/index.scss';

.inputs {
    margin-top: $h1;
    display: flex;
    align-items: end;
    gap: $gap_padding_low;
    font-weight: $bold;

    @media (min-width:300px) {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: $margin;
    }

    @media (min-width:576px) {
        margin-top: $h1;
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: $gap_padding_low;
        font-weight: $bold;
    }
}