@import '../../app/index.scss';

.notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: $gap_padding_low;

    &__element {
        padding: 0 $gap_padding_low;
        border-radius: $radius;
        border: $low solid $gray;
        cursor: pointer;
        box-shadow: $radius $h2 $h2 $white_blacker_2;

        &:hover {
            transition: 0.2s;
            background-color: $white_blacker_2;
        }

        &__label {
            font-size: $p;
            font-weight: $semibold;
            color: $black;
        }
    }
}