.notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    &__element {
        padding: 0 20px;
        border-radius: 5px;
        border: 1px solid #ebebeb;
        cursor: pointer;
        box-shadow: 4px 2px 2px #dfdfdf;

        &:hover {
            transition: 0.2s;
            background-color: #dfdfdf;
        }

        &__label {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        &__date {}

        &__time {}
    }
}